<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{partial "styles.html" .}}
	<title>{{.Params.title}}</title>
	<link rel="icon" href="/graphics/logo.jpg" type="image/x-icon">
	<script src="/js/toclipboard.js"></script>
</head>
<style>

h1{
	font-size: 2em;
}

.articlehead{
	display: flex;
}
.articlehead > p{
	margin-right: 1em;
}
ul{
	list-style: none;
	font-family: inherit;
	margin-left: 0;
	padding-left: 0;
}
li{
	margin-bottom: 4em !important;
	padding-left: 1em;
	text-indent: -1em;
}
li::before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin-right: .5em;
	width: .5em;
	height: 1px;
	background-color: black;
}

</style>


<body>
<div class="main">

 	<!-- HEADER -->
 	{{partial "header.html" .}}
 	

 	<article >
 		<h1>{{.Title}}</h1>
 		<div class="articlehead">
 			<p>by <strong>{{.Params.author}}</strong> </p>
 			<p>{{.PublishDate.Format "2006-01-02"}}</p>
 			<p>{{.Params.time}} read</p>
 		</div>
	 	{{ .Content | replaceRE "<img" "<img class=\"articleimg \"" | safeHTML }}
 	</article>
 </div>
</body>
</html>