<header>
    <div class="logo">
        <a href="/index.html"><img src="/graphics/logo.jpg" alt="" class="logopic"></a>
    </div>
    <nav>
        <a id="portfolio" href="/portfolio" class="nav_link">portfolio</a>
        <a href="/scapes" class="nav_link">scapes</a>
        <a href="/misc" class="nav_link">misc</a>
        <a href="/portraits" class="nav_link">portraits</a>
        <a href="/products" class="nav_link">products</a>
        <a href="/blog" class="nav_link">blog</a>
    </nav>
    <div class="gridfill" style="display: none;"></div>

</header>
    