<header>
    <nav>
        <div class="navcontainer">
            <a href="/aboutcontact" class="navlink">about & contact</a>
        </div>
        <div class="navcontainer dropdown">
            <a class="navlink">work</a>
            <div class="dropdowncontent">
                <a href="/fineart">fine art</a>
                <a href="/commercial">commercial</a>
                <!-- <a href="/videography">videography</a>
                <a href="/portraiture">portraiture</a>
                <a href="/conceptart">concept art</a>
                <a href="/design">design</a> -->
            </div>
        </div>
    </nav>
    <div class="gridfill" style="display: none;"></div>

</header>

